<ion-toolbar color="secondary">
   <ion-backdrop>
     <ion-icon slot="start" name="add"></ion-icon>
   </ion-backdrop>

    <ion-button slot="end" color="secondary" (click)="print()">
      imprimer
    </ion-button>


</ion-toolbar>
<ion-content>


<div class="content print" >
  <p>{{date| date}}</p>
  <h4>NOM DU CLIENT: </h4>

<table class="content-table" >

  <thead>
   <tr >

     <th class="first"> Produit</th>
     <th>Quantite</th>
     <th>Prix unitaire</th>
     <th>Montant</th>

   </tr>
  </thead>
  <tbody>

    <tr *ngFor="let item of (facturation| async) ; ">

      <td class="first">{{item.produit}}</td>
      <td>{{item.quantite}}</td>
      <td>{{item.montant}}</td>
      <td>{{item.montant * item.quantite}} </td>
    </tr>
  </tbody>
  <tfoot>
    <div class="footer">
      <h4 >Total:{{total| async}}FCFA</h4>
    </div>


  </tfoot>
</table>


</div>

</ion-content>

