<ion-header>

</ion-header>

<ion-content >





<ion-grid >


  <ion-row>
    <ion-col size-md="6" offset-md=3  >
      <div class="content">


         <div class="myicon" slot="end">

            <ion-icon style="width: 25px; height:25px" color="secondary" slot="icon-only" [name]="icon" (click)="printView()"></ion-icon>

         </div>

         <div class="select">

          <ion-item  class="ion-margin">
            <ion-label position=" floating" >Client</ion-label>
            <ion-select   placeholder="Select client" (ionChange)="select($event)" [(ngModel)]="clientSelected">

              <ng-container *ngFor="let item of clients|async"  >
                <ion-select-option [value]="item.id">{{item.nom}}</ion-select-option>
              </ng-container>
            </ion-select>

          </ion-item>

         </div>

         <div class="list" *ngIf="!content && clientSelected">

             <ion-list>
               <ion-item-sliding *ngFor="let item of facturation| async"  #sliding >
                <ion-item-options side="start">

                    <ion-fab-button color="danger" (click)="delete(item.id, sliding)">
                      <ion-icon  name="trash"></ion-icon>
                    </ion-fab-button>


                </ion-item-options>
                 <ion-item >
                  <ion-checkbox (ionChange)= "changed($event)" class="ion-margin-end" [value]="item.id" #isChecked><ion-icon slot="icon-only" name="receipt" ></ion-icon></ion-checkbox>
                  <ion-label class="ion-margin"  > {{item.quantite}} {{ item.produit }}</ion-label>
                    <ion-label class="ion-margin"><h5 class="ion-margin">{{ item.date|date}}</h5></ion-label>
                    <ion-label>
                      {{ item.date |slice : 11:16}}
                   </ion-label>
                 </ion-item>
                 <ion-item-options side="end" >


                    <ion-fab-button  (click)="edit(item.id, isChecked, sliding)" color="secondary">
                      <ion-icon  name="pencil"></ion-icon>
                    </ion-fab-button>



                 </ion-item-options>

               </ion-item-sliding>
             </ion-list>



         </div>


        <div id="maTable" class="list" *ngIf=" content && clientSelected ">
          <h2 class="ion-text-center ion-margin">Facture de {{client | async}}</h2>

          <table class="content-table" >
            <thead>
                <tr>
                  <th>Produit</th>
                  <th>Pu(FCFA)</th>
                  <th>Qte</th>
                  <th>montant(FCFA)</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let obs  of facturation |async" >
                    <td>{{obs.produit }}</td>
                    <td> {{obs.montant  }}</td>
                    <td>{{obs.quantite}}</td>
                    <td>{{obs.quantite * obs.montant }}</td>
              </tr>

            </tbody>
          </table>
        </div>


      </div>



    </ion-col>
  </ion-row>

</ion-grid>



<ion-fab-button id="print" color="secondary">
  <ion-icon name="print" (click)="print(clientSelected)"></ion-icon>
</ion-fab-button>

</ion-content>
