



.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 170px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin: auto;
}
.select{
  position: sticky;
  ion-item{

    margin: 30px 0 50px 0;
  }


}


.content-table thead tr {
  background-color: var(--ion-color-secondary);
  color: var(--ion-color-secondary-contrast);
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 2.5vh  3.5vh;
}

.content-table tbody tr {
  border-bottom: 1px solid var(--ion-color-secondary);
}

.content-table tbody tr:nth-of-type(even) {
  background-color: var(--ion-color-light);
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid var(--ion-color-secondary);
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: var(--ion-color-secondary);
}


ion-fab-button#print{
  width: 10vw;
  height: 10vw;
  max-width: 50px;
  max-height: 50px;
  position: fixed;
   bottom: 2%;
   right: 2%;
}

ion-list{
  ion-item{
    border-radius: 20px;
  }

}



@media (max-width : 600px){

  .content{
    margin: auto;

  }


  .content-table {
    border-collapse: collapse;
    margin: 18px 0;
    font-size: 0.65em;
    max-width: 150px;
    border-radius: 4px 4px 0 0;
    margin: auto;


  }
  .content-table th,
.content-table td {
  padding: 1.5vh  2vh;
}
}



@media print{
#maTable{
  border: 2px;
}

  .content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 170px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin: auto;
  }

  .content-table thead tr {
    background-color: var(--ion-color-secondary);
    color: var(--ion-color-secondary-contrast);
    text-align: left;
    font-weight: bold;
  }

  .content-table th,
  .content-table td {
    padding: 2.5vh  3.5vh;
  }

  .content-table tbody tr {
    border-bottom: 1px solid var(--ion-color-secondary);
  }

  .content-table tbody tr:nth-of-type(even) {
    background-color: var(--ion-color-light);
  }

  .content-table tbody tr:last-of-type {
    border-bottom: 2px solid var(--ion-color-secondary);
  }

  .content-table tbody tr.active-row {
    font-weight: bold;
    color: var(--ion-color-secondary);
  }

  }

  ion-checkbox {

    --background-checked: var(--ion-color-secondary-contrast);


    --border-radius: 50%;

    --border-width: 1px;
    --checkmark-color: var(--ion-color-secondary-contrast);
    --checkmark-width: 16px;
    --size: 18px;
    --transition: background-color 15ms linear;
  }
