

<ion-content >



      <div class="content">
         <div class="myicon" slot="end">
            <ion-icon style="width: 25px; height:25px" color="secondary" slot="icon-only" [name]="icon" (click)="printView()"></ion-icon>
         </div>
         <div class="select">




          <ion-item  class="ion-margin">
            <ion-label  position=" floating" >Client</ion-label>
            <ion-select  [interfaceOptions]="alertInterface" [value]="idC"   [selectedText]="selectedC"  placeholder="Select client" (ionChange)="select($event)" [(ngModel)]="clientSelected" >

              <ng-container *ngFor="let item of clients|async"   >
                <ion-select-option color="secondary" [value]="item.id">{{item.name}}</ion-select-option>
              </ng-container>
            </ion-select>


          </ion-item>



         </div>


         <ion-list>
           <ng-container *ngFor="let item of selected.orderItems">
            <ion-item>
              <ion-thumbnail>
                <img src="image" />
              </ion-thumbnail>
              <ion-label>Awesome Label </ion-label>
            </ion-item>

           </ng-container>

         </ion-list>




      </div>








</ion-content>
