<ion-header>

</ion-header>

<ion-content>


  <ion-toolbar color="red">
    <div  class="ion-margin-bottom ion-padding-bottom  total" >
      <ion-note color="light">
        <h3 class="ion-margin-start ion-margin-top">{{currentClient| async }}</h3>
        <div *ngIf="!(currentClient)">
          <ion-skeleton-text color= "secondary" style="width: 400px; height: 26px; "></ion-skeleton-text>
        </div>

      </ion-note>
      <ion-title class="ion-text-center ion-margin-vertical"> {{montant}} FCFA </ion-title>
    </div>

  </ion-toolbar>

  <ion-grid fixed>

    <ion-row>
      <ion-col size="12">

          <ion-searchbar searchIcon="search-outline" [(ngModel)]="term"  placeholder="rechercher un produit" >

          </ion-searchbar>

      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-vertical">
      <ion-col size="12">
        <ion-list>
         <ng-container *ngFor="let item of (produits$| async)| filter: term">
          <ion-item detail  (click)="select(item)">
            <ion-thumbnail class="ion-margin-end">

             <ion-img [src]="item.pictureUrl" alt="load  failed"></ion-img>
            </ion-thumbnail >
            <ion-label> {{item.name}}</ion-label>
          </ion-item>

         </ng-container>


        </ion-list>


      </ion-col>
    </ion-row>

  </ion-grid>
  <ion-fab-button [disabled]=" montant === 0" id="print" color="secondary">
    <ion-icon name="print" (click)="print()"></ion-icon>
  </ion-fab-button>

</ion-content>
