ion-content {
 
  --background: var(--ion-color-secondary);

  --color: var(--ion-color-secondary-contrast);



}


ion-img{
  width: 300px;
  height: 200px;
}
.auth{
  float: right;
}

.button{
  width: 60%;
  margin: auto;


}

ion-header{
  ion-toolbar{
    .auth{
      a{
        text-decoration: none;
      }

    }
  }
}
ion-grid{
  ion-row{
   
   
    
    
    
    ion-col{
      .login{
        transform: translate(0%, 40%);

      }
       
      
      ion-card{
        ion-card-title{
          font-weight: bold;
        }
        
      
        
        --background: var(--ion-color-light) ;
        ion-item{
          --background: var(--ion-color-light);
            --highlight-color-valid: var(--ion-color-secondary);
           --color-activated:  var(--ion-color-secondary);
           --color-focused: var(--ion-color-secondary);
           --color: var(--ion-color-dark-shade); 
         

        }
       ion-item.item-has-focus > ion-label{
          color: var(--ion-color-secondary);

         } 
        // ion-item{
        //   color: var(--ion-color-secondary);  
        // }
        

        .button{
          min-width:100px;
        }
        ion-footer{
          transform: translateX(40%);
        }
      }
    }
  }
}

@media (max-width: 600px){

.login{
  transform: translateY( 60%);

}
}



  

