ion-content {
  --background: linear-gradient( 80% var(--ion-color-secondary),   red );
  --color: #3880ff;
  --keyboard-offset: 0px;
  --offset-bottom: 0px;
  --offset-top: 20%;
  --padding-bottom: 20%;
  --padding-end: 0px;
  --padding-start: 0px;
  --padding-top: 0px;
}


ion-img{
  width: 300px;
  height: 200px;
}
.auth{
  float: right;
}

.button{
  width: 60%;
  margin: auto;


}

ion-header{
  ion-toolbar{
    .auth{
      a{
        text-decoration: none;
      }

    }
  }
}
ion-grid{
  ion-row{
    ion-col{
      ion-card{
        .button{
          min-width:100px;
        }
        ion-footer{
          transform: translateX(40%);
        }
      }
    }
  }
}
