ion-content {







  --color: var(--ion-color-secondary-contrast);



}
ion-img{
  width: 150px;
  height: 120px;
  padding: 0;
}
.logo{
  width: fit-content;
  margin: auto;

}
ion-title{
  font-weight: bold;
  color: var(--ion-color-secondary);
}



.auth{
  float: right;
}

.button{
  width: 70%;
  margin: auto;

}








        ion-item{
          --background: transparent;
          --highlight-color-valid: var(--ion-color-secondary);
           --color-activated:  var(--ion-color-secondary);
           --color-focused: var(--ion-color-secondary);
           --color: var(--ion-color-dark-shade);
         --border-radius: 20px
           ion-input{
             --border-radius: 20px;
           }



        }
       ion-item.item-has-focus > ion-label{
          color: var(--ion-color-secondary);

         }



        .button{
          min-width:100px;
        }




.form{
  margin-top: 100px;
  width: 85%;
  margin: auto;
  ion-item{
    ion-icon{
      float: right;
    }
  }
}
.api{
  width:fit-content;
  margin: auto;
  margin-top: 30px;

}




