<ion-header>

</ion-header>

<ion-content  >




<ion-grid >
  <ion-row  >
    <ion-col size-md="6" offset-md="3" >
      <div class=" login">

  <ion-card  >
    <ion-card-header>

      <ion-card-title  class="ion-text-center" >Login</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-marging">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmitForm()">
        <ion-item class="ion-margin" >
          <ion-label   position="floating">utlisateur<ion-text color="danger">*</ion-text></ion-label>
          <ion-input required formControlName="username" type="text" autofocus="true"></ion-input>
        </ion-item>
        <ion-item class="ion-margin" >

          <ion-icon position= "inline" slot="end"   [name]="isVisible" (click)="ontogleHide()"></ion-icon>
          <ion-label  position="floating">mot de passe<ion-text color="danger">*</ion-text></ion-label>

          <ion-input required formControlName="password" [type]="mytype" inputmode="password"></ion-input>


        </ion-item>
        <div class="button ion-align-items-center ion-margin" >
          <ion-button block color="secondary" type="submit" [disabled]="loginForm.invalid" class="ion-margin-bottom" expand="block">
            Login
          </ion-button>
        </div>
        <ion-item  button detail="false" lines="nones">
          <ion-text class="ion-margin " >
            <p>mot de passe oublie</p>
          </ion-text>
        </ion-item>
        

      </form>



    </ion-card-content>

  </ion-card>

      </div>


    </ion-col>

  </ion-row>
</ion-grid>



</ion-content>
