

<ion-content class="ion-no-margin ion-no-padding">


<div class=" login ">
  <div class="logo">
    <ion-img  src="./assets/icon/favicon.png"></ion-img>
    <ion-title class="ion-text-center"   >Login</ion-title>
  </div>



      <form [formGroup]="loginForm" (ngSubmit)="onSubmitForm()">
        <div class="form ion-padding ">
          <ion-item class="ion-margin" >
            <ion-icon slot="start" name="call-outline"></ion-icon>

            <ion-input placeholder="tel" required formControlName="phone" inputmode="tel" type="tel" autofocus="true"></ion-input>
          </ion-item>
          <ion-item class="ion-margin" >

            <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
            <ion-input required placeholder="code" formControlName="code" [type]="mytype" inputmode="password">
            </ion-input>
            <ion-icon slot="end"    [name]="isVisible" (click)="ontogleHide()"></ion-icon>

          </ion-item>

        </div>

<div class="footer ion-margin">
  <ion-button  shape="round" color="secondary" type="submit" [disabled]="loginForm.invalid" class="ion-margin" expand="full">
    Login
  </ion-button>
<div class="api ion-margin">
  <ion-text class="ion-text-center" color="secondary"  (click)="changeBaseUrl()"   >
    changer l'api
  </ion-text>

</div>


</div>



      </form>

      </div>






</ion-content>
