
ion-toolbar{
  ion-title{
    font-weight: bold;
  }
  // ion-button::part(native){
  //   font-size: 12.5px;
  //   font-weight:200;

  // }
}

ion-item {
  border: 1px  black;
  border-style: ridge;

  --padding-start: 8px;
  --padding-top: 0;
  --padding-bottom: 0;
  --highlight-color-focused: var(--ion-color-secondary);
  ion-label{
    font-size: 16px;
  }
}
ion-item.no-border{
  border: 0;

}
ion-item.bottom-border{
  border: 0;
  border-bottom: 1px  black;

}
.selected{

  --background: var(--ion-color-secondary);
}
