<ion-header class="ion-no-border">
  <ion-toolbar >

   <ion-label  slot="start">
      <ion-icon class="user-margin" slot="icon-only" name="person"></ion-icon>
      {{user}}
    </ion-label>

<ion-buttons slot="end">
  <ion-button (click)="showPopOver($event)"   slot="icon-only">
    <ion-icon   name="ellipsis-vertical-outline"></ion-icon>
  </ion-button>

</ion-buttons>





  </ion-toolbar>

</ion-header>
<ion-content fullscreen="true"
>



  <ion-tabs color="primary" class="ion-no-padding ion-margin-top">
    <ion-tab-bar slot="bottom"  >

      <ion-tab-button tab="ajout-facture" >
        <ion-icon name="medkit-outline"></ion-icon>
        <ion-label> Clients </ion-label>
      </ion-tab-button>

      <ion-tab-button tab="items" class="ion-no-padding marge">
        <ion-icon name="list-outline"></ion-icon>
        <ion-label> Produits</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="impression-facture" class="ion-no-padding marge">
        <ion-icon name="hourglass-outline"></ion-icon>
        <ion-label> En cours</ion-label>
        <ion-badge  color="warning">55</ion-badge>

      </ion-tab-button>
      <ion-tab-button tab="activity" class="ion-no-padding marge">
        <ion-icon name="stats-chart-outline"></ion-icon>

        <ion-label> Ventes</ion-label>


      </ion-tab-button>






    </ion-tab-bar>



  </ion-tabs>




</ion-content>
