ion-content {
  background: linear-gradient( left to right, 50% red, blue);

}

ion-tool-bar{
  --border-style: none;
}


ion-tab-button.tab-selected{


border-bottom : 2px solid var(--ion-color-secondary-tint);
}



ion-tab-button {

  --color-selected: var(--ion-color-secondary-tint);

}


