// ion-tab-bar{
  // position: absolute;
  // top: 0;
  // background-color: green;
  // border-bottom: 2px solid gray;
  // box-shadow: 0 2px  rgb(146, 131, 131);
  // ion-tab-button{
  //   background-color: red;


  // }
  // ion-tab-button:active{
  //   color: green;
  // }



// }

ion-tool-bar{
  --border-style: none;
}



// ion-tab-bar{
//   height: 20%;
//   ion-tab-button{
//     background-color: rgb(199, 178, 178)(199, 178, 178)(199, 178, 178);
//     height: auto;
//   }
// }


ion-tab-button.tab-selected{


border-bottom : 2px solid var(--ion-color-primary);
}
// .btn{
//   min-width: 40px;
//   ion-label{

//     position: relative;
//     left: 32px;
//      bottom: 20px;
//   }
// }


ion-buttons{
  position: absolute;
  top: 10px;
  right: 10px;
  ion-button{
    ion-icon{
      float: right;
    }
  }

}

