/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.popover-class{
  --background: red;
  position: absolute;
  top: 0;
  right:0;
}

  ion-item.item-has-focus > ion-label{
          color: var(--ion-color-dark-shade);

         }

.loadingClass{
  --spinner-color: var(--ion-color-secondary);
}

.alertClass{
.alert-wrapper{


  .alert-radio-inner{
    background: var(--ion-color-secondary);
  }
  [aria-checked=true].alert-radio .alert-radio-icon{
    border-color: var(--ion-color-secondary) ;
  }

}

}
.alertError{
  
  .alert-head{

    text-align: center;
    

   color: red;

  }

}
 .select-alert{

 .alert-button{
   color: var(--ion-color-secondary);
 }
 .alert-button-role-cancel{
  color: var(--ion-color-danger-tint);
  opacity: 0.8;
 }

}


.alert{
  border-radius: 20px;
 

  .alert-button{
    color: var(--ion-color-secondary);

  }
  .alert-button-group-vertical{
    flex-direction: row;
  }
  .alert-head{
    background: var(--ion-color-secondary-tint);
    color: var(--ion-color-secondary-contrast);
  }
  .alert-button-role-cancel{
    color: var(--ion-color-danger-tint);
    opacity: 0.8;


  }
  .alert-input:focus{
    border-bottom-color: var(--ion-color-secondary);
  }


  .alert-message{
    margin-top: 20px;

  }

}
.errorToast{
  --background: var(--ion-color-danger) ;
  --color: var(--ion-color-danger-contrast);
  --border-radius: 50px;
 --width: fit-content;
 animation: fade  5s forwards ;




  }
  @keyframes fade {
    0%{
      opacity: 0;
    }
    10%{
      opacity: 1;

    }
    20%{
      opacity: 0.8;

    }
    30%{
      opacity: 0.7;

    }
    40%{
      opacity: 0.6;

    }
    50%{
      opacity: 0.5;

    }
    60%{
      opacity: 0.4;

    }
    70%{
      opacity: 0.3;

    }
    80%{
      opacity: 0.2;

    }
    90%{
      opacity: 0.1;

    }
    100%{
      opacity: 0;

    }

  }




  .successToast{
    --background: var(--ion-color-success) ;
    --color: var(--ion-color-success-contrast);
    --border-radius: 50px;
   --width: fit-content;
   animation: fade  4s forwards ;
    }
    @keyframes fade {
      0%{
        opacity: 0;
      }
      10%{
        opacity: 1;
      }
      20%{
        opacity: 0.8;
      }
      30%{
        opacity: 0.7;

      }
      40%{
        opacity: 0.6;

      }
      50%{
        opacity: 0.5;

      }
      60%{
        opacity: 0.4;

      }
      70%{
        opacity: 0.3;

      }
      80%{
        opacity: 0.2;

      }
      90%{
        opacity: 0.1;

      }
      100%{
        opacity: 0;

      }

    }





